<div class="row justify-content-md-center">
  <div class="col-lg-6 col-md-8">
    <div>
      <div class="page-header">
        <h1>Todos</h1>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" (click)="addTodo()">Add</button>
        </span>
      </div>
    </div>

    <div id="accordion" class="todo-list" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let todo of todos">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description todo-icon">
                <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse' + todo.id" [class.completed]="todo.complete"
                  aria-expanded="true" aria-controls="collapseOne">
                  {{todo.title}}
                </a>
                
                <button type="button" class="todo-icon" (click)="removeTodo(todo)" title="Delete" aria-label="Delete">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <button type="button" class="todo-icon" [routerLink]="['/todos', todo.id]" title="Edit" aria-label="Edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
              </span>
            </label>
          </h5>
        </div>

        <div [attr.id]="'collapse' + todo.id" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
              {{todo.text}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="todos.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </div>
  </div>
</div>
