<main class="row justify-content-md-center">
  <div class="col-lg-6 col-md-8">
    <section>
      <div>
        <div class="page-header">
          <h1>Todos</h1>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" title="More Details" data-toggle="collapse" data-target="#todoDetails" aria-expanded="false" aria-controls="todoDetails">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="addTodo()">Add</button>
          </span>
        </div>
      </div>
      <div class="collapse" id="todoDetails">
        <div class="card card-block">
          <label for="todoText">Description</label>
          <textarea class="form-control" id="todoText" placeholder="Description" [(ngModel)]="newTodo.description" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
    </section>

    <section>
      <div class="card todo-list">
        <div class="card-header">
          <form class="form-inline">
            <div class="form-group row">
              <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <input type="checkbox" class="custom-control-input" (click)="changeAllState()" [(ngModel)]="allState" name="allState">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">All</span>
              </label>
              <label class="sr-only" for="inlineFormInput">Search</label>
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search..." [(ngModel)]="searchWord" name="searchWord">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Order By:</label> 
              <select class="custom-select" id="inlineFormCustomSelect" [(ngModel)]="selectedOrder" name="todoOrder">
                <option *ngFor="let order of orderOptions" [ngValue]="order">{{order.name}}</option>
              </select>
            </div>
          </form>
        </div>

        <div class="card-block">
          <div id="accordion" class="" role="tablist" aria-multiselectable="true" [dragula]='"todo-list"'>
            <div class="card" *ngFor="let todo of todos | todoSearch : searchWord | sortTodo: selectedOrder.value">
              <app-list-item 
                [todo]="todo"
                (onDropTodo)="dropTodo()"
                (onRemoveTodo)="removeTodo($event)">
              </app-list-item>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--<div *ngIf="todos.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </div>-->
  </div>
</main>