<div class="row justify-content-md-center">
  <div class="class=col-lg-6 col-md-8">
    <form>
      <legend>Todo</legend>

      <div class="form-group">
        <label for="todoTitle">Title</label>
        <input type="text" class="form-control" id="todoTitle" placeholder="Title" required
          [(ngModel)]="updatedTodo.title" name="title">
      </div>

      <div class="form-group">
        <label for="todoText">Text</label>
        <textarea class="form-control" id="todoText" placeholder="Title"
          [(ngModel)]="updatedTodo.text" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div class="form-group">
        <label for="todoComplete">Complete</label>
        <div class="radio-inline">
          <label><input type="radio" [(ngModel)]="updatedTodo.complete" name="todoComplete" value="true">Yes</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" [(ngModel)]="updatedTodo.complete" name="todoComplete" value="false">No</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-4 col-lg-offset-4">
          <button type="reset" class="btn btn-default" routerLink="/todos">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="updateTodo()">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>